<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://' + window.location.hostname);
    socket.on('connect', function () {
        $("form").submit(function(event) {
            event.preventDefault();
            socket.emit('config', $("#config").serialize());
        });
    });
    
</script>
<form id="config">
    Server ip: <input type='text' name='serverip' value="<%= nconf.get('serverip') %>" /><br/>
    Server port: <input type='text' name='serverPort' value="<%= nconf.get('serverPort') %>" /><br/>
    Proxy port: <input type='text' name='proxyPort' value="<%= nconf.get('proxyPort') %>" /><br/>
    <input type="submit" value="submit" /><br/>
</form>

    
